@charset "UTF-8";
/* CSS Document */

body {
	font-family : Arial, sans-serif;
	background-color:#090;
	background-image:url('../img/bodyBackground_b70.jpg');
	background-repeat:repeat;
	background-position:center;
	margin-left: auto ;
	margin-right: auto ;
	padding-top:20px;
	padding-bottom:20px;
}
	
input {
 font-family : Arial, sans-serif;
}
	
	
	#Page {
	/*height:1350px;
	width:1187px;
	padding:8px 58px 8px 18px;
	border:0px dashed #333;
	
	background-image:url('../img/main.png');
	background-repeat:no-repeat;*/
margin-left: auto ;
  margin-right: auto ;
  
  width:1137px;
  /* min-height:1100px; */
	border-radius:150px;
	 background: rgba(255, 255, 255, .9);
	
	-moz-border-radius: 150px;
  -khtml-border-radius: 150px;
  -webkit-border-radius: 150px;
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,1);
  -khtml-box-shadow: 0px 0px 8px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,1);	
	}
	
.mainPage{
	top:300px;
		left:200px;
		width:100px;
		/* min-height:900px; */
		background-color:#7ec926;
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,1);
  -khtml-box-shadow: 0px 0px 8px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,1);
	}

.linksTable{
		-moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  -webkit-border-radius: 8px;
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,1);
  -khtml-box-shadow: 0px 0px 8px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,1);
}


/*menu tabed*/
#navbar {
  width:815px;
  padding-top:20px;
 } 

 #navbar #holder {
  width:780px;
  height:63px;
  padding-left:35px;
 } 

 #navbar #holder ul {
  list-style:none;
  margin:0;
  padding:0; 
 } 

 #navbar #holder ul li a { 
  text-decoration:none;
  float:left;
  margin-right:5px;
  line-height:23px;
  font-family:"Arial Black", Gadget, sans-serif;
  color:#000;
  border:0px solid #000;
  border-bottom:none;
  padding:20px;
  width:100px;
  text-align:center;
  display:block;
  background:#62ac0b;
  -moz-border-radius-topleft:15px;
  -moz-border-radius-topright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px; 
 } 

 #navbar #holder ul li a:hover {
  background:#7ec926;
  color:#FFF;
  text-shadow:1px 1px 1px #000;
 } 
 
  #holder ul li a#onlink {
  background:#7ec926;
  color:#fff;
  border-bottom:1px solid #7ec926; 
 } 

 #holder ul li a#onlink:hover {
  background:#7ec926;
 }
 
 /*end menu tab*/