/* 
 * Style for Reset Form borrowed by the HTML Form Guide tutorials
 * at HTML Form Guide(http://www.html-form-guide.com/).
 * Credit where credit is due. Our thanks.
 */
 
#reset_form fieldset
{
   width: 253px;
   padding:20px;
   border:3px solid #C0C0C0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;   
}

#reset_form legend
{
   font-family : Arial, sans-serif;
   font-size: 1.3em;
   font-weight:bold;
   color:#333;
}

#reset_form label
{
   font-family : Arial, sans-serif;
   font-size:0.8em;
   font-weight: bold;
}

#reset_form input[type="text"],#reset_form textarea
{
  font-family : Arial, Verdana, sans-serif;
  font-size: 0.8em;
  line-height:140%;
  color : #000; 
  padding : 3px; 
  border : 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}

#reset_form input[type="text"]
{
  height:100%;
  width:220px;
}

#reset_form input[type="button"]
{
   
   height:30px;
   padding-left:0px;
   text-align: center;
}

#reset_form textarea
{
  height:120px;
  width:310px;
}

#reset_form input[type="text"]:focus,
#reset_form textarea:focus
{
  color : #009;
  border : 1px solid #990000;
  background-color : #ffff99;
  font-weight:bold;
}

#reset_form .container
{
   margin-top:8px;
   margin-bottom: 10px;
}

#reset_form .error
{
   font-family: Verdana, Arial, sans-serif; 
   font-size: 0.7em;
   color: #900;
   background-color : #ffff00;
}

#reset_form #reset_password_errorloc
{
    clear:both;
}

#reset_form .short_explanation
{
   font-family : Arial, sans-serif;
   font-size: 0.6em;
   color:#333;   
}
